* {
	padding: 2px;
	font-family: arial;
	position: relative;
}

header {
	text-align: center;
}

article {
	margin-left: 30px;
	margin-top: 10px;
	width: 400px;
	float: left;
}

p{
	padding: 55px 10px 5px 10px;
}

.menu1 {
	background-color: gray;
	border: 1px solid black;
}

.menu2 {
	background-color: gray;
	border: 1px solid black;
}

.menu3 {
	background-color: gray;
	border: 1px solid black;
}


.header1 {
	background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    height: 35px;
    width: 120px;
    font-weight: bold;
    text-align: center;
}
.header2 {
	background-color: yellow;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    height: 35px;
    width: 120px;
    font-weight: bold;
    text-align: center;
}
.header3 {
	background-color: blue;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    height: 35px;
    width: 120px;
    font-weight: bold;
    text-align: center;
}


@media (min-width: 992px){
	article {
		width: 29%;
	}
}


@media (min-width: 768px) and (max-width: 991px){
	article{
		width: 44%;
	}

	.manu1 {
		
	}

	.manu2 {
		
	}

	.menu3 {
		width: 92.5%;
	}
}

@media (max-width: 767px){
	article {
		width: 90%;
	}
}